nav#mainNav.navbar.navbar-fixed-top.navbar-custom.transparent
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |  Menu 
                i.fa.fa-bars
            a.navbar-brand.page-scroll(href='/') 
                i.fa.fa-1x.fa-paper-plane(aria-hidden="true")
                |LunaBnB
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href='#page-top')
                li
                    a.page-scroll(href='/rooms') rooms
                li
                    a.page-scroll(href='/rooms/room') Portfolio
                if (currentUser) 
                  li
                    a.page-scroll(href='/rooms/host') Hosting
                  li
                    a.page-scroll(href='/users/#{currentUser._id}/edit') profile
                  li
                    a.page-scroll(href='#portfolioModal1', data-toggle='modal') Favorite
                  li
                    a(href='/signout') Signout
                else

                  li
                    a.signin-cd-popup-trigger.page-scroll.fadeandscale_open(href="#fadeandscale") Signin
                  li
                    a.signup-cd-popup-trigger.page-scroll.fadeandscale_open(href="#fadeandscale") Signup


// Signin
block SigninModal 
    #signin.cd-popup(role='alert')
        .cd-popup-container
            .col-sm-12.col-sm-offset-1(style='background-color:white')
                form#signin-contact-form.contact-form(name='contact-form', method='post',action='/signin')
                    .form-group
                    br
                    br
                    a.btn.btn-primary.btn-lg.btn-block(href='/auth/facebook')
                      i.fa.fa-facebook.fa-lg
                      | &nbsp; &nbsp;Signin with Facebook
                    hr
                    .form-group
                    label.input_label.text-left Email address
                    input(
                        type='email', id='email', name='email', class='form-control', 
                        placeholder='Email address', required, autofocus
                    )
                    .form-group
                    label.input_label Password 
                    input(
                    type='password', id='password', name='password', class='form-control', 
                    placeholder='Password', required, autofocus
                    )
                    br
                    hr
                    .form-group
                    a.input_label(href='/reset-password') 비밀번호가 생각나지 않으세요? 
                    br
                    .form-group
                    button.btn.btn-lg.btn-info.btn-block(type='submit') 로그인
                    hr
                    .form-group
                    label.input_label 
                    | 루나비앤비 계정이 없으세요
                    | ?&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                    a.btn.btn-danger.text-right.signup-cd-popup-trigger.page-scroll.fadeandscale_open(href="#fadeandscale") 
                      | 회원가입
                    hr
        // cd-popup-container
        // cd-popup
        
//- signup
block SignupModal 
    #signup.cd-popup(role='alert')
        .cd-popup-container
            .col-sm-12.col-sm-offset-1(style='background-color:white')
                form#signup-contact-form.contact-form(action='/users',method='POST')
                    .form-group
                    br
                    br
                    a.btn.btn-primary.btn-lg.btn-block(href='/auth/facebook')
                      i.fa.fa-facebook.fa-lg
                      | &nbsp; &nbsp;Signup with Facebook
                    hr
                    .form-group
                    label.input_label Name
                    input(
                        type='text', id='name', name='name', class='form-control', 
                        placeholder='Your Name', required, autofocus
                    )
                    .form-group
                    label.input_label Email address
                    input(
                        type='email', id='email', name='email', class='form-control', 
                        placeholder='Email address', required, autofocus
                    )
                    .form-group
                    label.input_label Password 
                    input(
                    type='password', id='password', name='password', class='form-control', 
                    placeholder='Password', required, autofocus
                    )
                    .form-group
                    label.input_label Confirm Password 
                    input(
                    type='password', id='password_confirmation', name='password_confirmation', class='form-control', 
                    placeholder='Confirm Password', required, autofocus
                    )
                    hr
                    .form-group
                      | 회원 가입하면 루나비앤비의 서비스 약관, 비차별 정책, 결제 서비스 약관, 개인정보 보호정책, 
                      | 게스트 환불 정책, 호스트 보호 프로그램 이용약관에 동의하는 것입니다.
                    .form-group
                    button#btn_signup.btn.btn-lg.btn-danger.btn-block(type='submit') 회원가입
                    hr
                    .form-group
                    label.input_label 
                    | 이미 루나비앤비 계정이 있나요?
                    | ?&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                    a.btn.btn-info.text-right.signin-cd-popup-trigger.page-scroll.fadeandscale_open(href="#fadeandscale") 
                      | 로그인
                    hr
        // cd-popup-container
        // cd-popup
block portfolioModal 
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content(style='width:auto')
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-12.col-lg-offset-2
              .modal-body
                // Project Details Go Here
                  // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Favorite list
              
          // /.row
          // Project One
          .row
            .col-md-7
              a(href='#')
                img.img-responsive(src='http://placehold.it/700x300', alt='')
            .col-md-5
              h3 숙소이름
              h4 도시or 주소
              p
                | 소개 
              a.btn.btn-danger(href='#')
                | 예약하기 
                span.glyphicon.glyphicon-chevron-right
          // /.row
          hr                  
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times
            |  Close
