extends ../layout
block header
    header#header(style="background-image: url('../rooms/#{room._id}/img');")
        .container
            .intro-text
                .intro-lead-in Start a new trip with LunaBnB
                .intro-heading Check in Here!
                


block content
  .container
    .row
        // Blog Post Content Column
        .col-lg-8
            // Blog Post
            // Title
            h1 #{room.room_name}
              | &nbsp;
              //- a.btn_favorite.fa.fa-heart-o.btn-circle.btn-lg.btn-info.btn(style='float:right')

            // Author
            p.lead
                | #{room.city}
            
            // Date/Time
            p
                span.glyphicon.glyphicon-time
                |  Posted on #{room.createdAt} : #{room.host_email} 
            hr

            
            // Post Content
            p.lead
                | #{room.room_intro} 
            hr
            p
                | 주소: #{room.addr1} #{room.addr2}
            hr
            p
                | 요금: ₩ #{room.fee} 
            hr
            p
                | 편의시설: #{room.facillities} 
            hr
            p
                | 이용 규칙: #{room.rules} 
            hr
            // Blog Comments
            // Preview Image
            //- img.img-responsive(src='http://placehold.it/900x300', alt='')
          
            // DaumMap
            #map(style='width:100%;height:400px;')
            script.
              var container = document.getElementById('map');
              var options = {
              center: new daum.maps.LatLng(#{room.latitude}, #{room.longitude}),
              level: 3
              };
              var map = new daum.maps.Map(container, options);
              var marker = new daum.maps.Marker({
                  position: new daum.maps.LatLng(#{room.latitude},#{room.longitude}),
                  map: map
              });

            // Comments Form
            hr
            // 라이브리 시티 설치 코드
            #lv-container(data-id='city', data-uid='MTAyMC8yNzE4OC8zNzc2')
              script(type='text/javascript').
                window.livereOptions ={
                  refer:'localhost:3000/rooms/#{room.id}'
                };
                (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];
                if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = false;
                e.parentNode.insertBefore(j, e);
                })(document, 'script');
              noscript  라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요
            // 시티 설치 코드 끝
          
        // Blog Sidebar Widgets Column
        .col-md-4
          // Blog Search Well
          #sidebar
            .well
              h2 ₩#{room.fee}  / 1박
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              hr
              form(action="/rooms/reserve?id=#{room._id}" method="post" )
                .form-group
                  h5 Check In
                  .inner-addon.right-addon
                    i.fa.fa-calendar
                    input#date_check_in.form-control.floating-label(name='date_check_in' type="text", placeholder="Select Date")
                .form-group
                  h5 Check Out
                  .inner-addon.right-addon
                    i.fa.fa-calendar
                    input#date_check_out.form-control.floating-label(name = 'date_check_out' type="text", placeholder="Select Date")
                
                .form-group
                  label 인원
                  select#member.form-control.selectpicker(name='member' )
                    option(selected value=1) 1명
                    option(value=2) 2명
                    option(value=3) 3명
                    option(value=4) 4명
                    option(value=5) 5명
                    option(value=6) 6명
                    option(value=7) 7명
                    option(value=8) 8명
                    option(value=9) 9명
                    option(value=10) 10+명
                hr 
                span#result
                hr
                if(currentUser)
                  input#client_email(name='client_email' type="hidden" value='#{currentUser.email}')
                  input#client_id(name='client_id' type="hidden" value='#{currentUser._id}')
                  input#room_name(name='room_name' type="hidden" value='#{room.room_name}')
                  input#host_id(name='host_id' type="hidden" value='#{room.host_id}')
                  button.btn.btn-lg.btn-danger.btn-block(type='submit') 예약하기
                else
                  | 로그인 후 예약 가능합니다.
              
            //- .well
            //-   h4 Side Widget Well
            //-   p
            //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
          // /.row
  
  if(currentUser)
    if(favorites)
      a.btn_favorite.fa.fa-heart-o.btn-circle.btn-lg.btn-info.btn(style='float:right')
      each favorite in favorites
        if(favorite.client_id==currentUser._id)
          a.btn_favorite.fa.fa-heart.btn-circle.btn-lg.btn-danger.btn.selected(style='float:right')
        else
          a.btn_favorite.fa.fa-heart-o.btn-circle.btn-lg.btn-info.btn(style='float:right')
        
    script.
      $('.btn_favorite').click(function(){
        if($(this).hasClass('selected')){
      //- //- 좋아요 취소하기 
        $.ajax({
          url: '/users/favorite/ajax',
          method: 'POST',
          dataType: 'json',
          data: {client_id:'#{currentUser._id}', room_id: '#{room._id}', room_name: '#{room.room_name}',host_id:'#{room.host_id}'},
          success: function(data) {
            if(data==1){
              alert('Favorite이 취소되었습니다.');
              $('.btn_favorite').removeClass('btn-danger');
              $('.btn_favorite').removeClass('fa-heart');
              $('.btn_favorite').addClass('btn-info');
              $('.btn_favorite').addClass('fa-heart-o');
              $('.btn_favorite').removeClass('selected');
            }
          }
        });
      
        }else{
          //- 좋아요 누를때
          $.ajax({
            url: '/rooms/#{currentUser._id}/favorite',
            method: 'POST',
            dataType: 'json',
            data: {room_id: '#{room._id}', room_name: '#{room.room_name}',host_id:'#{room.host_id}'},
            success: function(data) {
              if(data==1){
                alert('Favorite에 추가되었습니다.');
                $('.btn_favorite').removeClass('btn-info');
                $('.btn_favorite').removeClass('fa-heart-o');
            
                $('.btn_favorite').addClass('btn-danger');
                $('.btn_favorite').addClass('fa-heart');
                $('.btn_favorite').addClass('selected');

              }else{
                alert('error');
              }
            }
          });
        }
      });
