extends ../layout

block header

    header#header
        .container
        // DaumMap
        #map(style='width:100%;height:550px;')
        script.
          $("#mainNav").addClass("navbar-inverse");
          var container = document.getElementById('map');
          var options = {
          center: new daum.maps.LatLng(33.450701, 126.570667),
          level: 3
          };
          var map = new daum.maps.Map(container, options);
          var positions = [
              {
                  title: '카카오', 
                  latlng: new daum.maps.LatLng(33.450705, 126.570677)
              },
              {
                  title: '생태연못', 
                  latlng: new daum.maps.LatLng(33.450936, 126.569477)
              },
              {
                  title: '텃밭', 
                  latlng: new daum.maps.LatLng(33.450879, 126.569940)
              },
              {
                  title: '근린공원',
                  latlng: new daum.maps.LatLng(33.451393, 126.570738)
              }
          ];
          var imageSrc = "http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
              
          for (var i = 0; i < positions.length; i ++) {
              
              // 마커 이미지의 이미지 크기 입니다
              var imageSize = new daum.maps.Size(24, 35); 
              
              // 마커 이미지를 생성합니다    
              var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize); 
              
              // 마커를 생성합니다
              var marker = new daum.maps.Marker({
                  map: map, // 마커를 표시할 지도
                  position: positions[i].latlng, // 마커를 표시할 위치
                  title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                  image : markerImage // 마커 이미지 
              });
            }
block content
  .container
    // Page Header
    .row
      .col-lg-12
        h1.page-header
          | 숙소 목록
          //- small Secondary Text
    // /.row
    // Projects Row
    .row
      each room in rooms
        .col-md-4.portfolio-item
          a(href='/rooms/room?id=#{room._id}')
            img.img-responsive.thumbnail(src="/rooms/#{room._id}/img", alt=room.image.originalname )
          h3
            a(href='#') #{room.room_name}
            small &nbsp;&nbsp;#{room.city}
          p
            | #{room.room_intro}
    // /.row
    // Projects Row
    .row
      .col-md-4.portfolio-item
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
        h3
          a(href='#') Project Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      .col-md-4.portfolio-item
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
        h3
          a(href='#') Project Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      .col-md-4.portfolio-item
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
        h3
          a(href='#') Project Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
          // Pagination
    .row.text-center
      .col-lg-12
        ul.pagination
          li
            a(href='#') «
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »
    // /.row
    hr
