extends ../layout

block header

    header#header
        .container
        // DaumMap
        #map(style='width:100%;height:550px;')
      if(marker)
        script.
          console.log('#{marker.latitude}');
          $("#mainNav").addClass("navbar-inverse");
          var container = document.getElementById('map');
          var options = {
          center: new daum.maps.LatLng('#{marker.latitude}', '#{marker.longitude}'),
          level: 6
          };
          var map = new daum.maps.Map(container, options);
          
          var imageSrc = "http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
      each room in rooms
         script.
          console.log('#{room.room_name}');
          var imageSize = new daum.maps.Size(24, 35); 
          var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize); 
          var marker = new daum.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: new daum.maps.LatLng('#{room.latitude}', '#{room.longitude}'), // 마커를 표시할 위치
                title : '#{room.room_name}', // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image : markerImage // 마커 이미지 
            });
            
        
block content
  .container
    .row.text-center
      .col-lg-12
        ul.pagination
          li
            a(href='/rooms?city=서울') 서울
          li
            a(href='/rooms?city=경기') 경기
          li
            a(href='/rooms?city=인천') 인천
          li
            a(href='/rooms?city=강원') 강원
          li
            a(href='/rooms?city=대전') 대전
          li
            a(href='/rooms?city=충북') 충북
          li
            a(href='/rooms?city=충남') 충남
          li
            a(href='/rooms?city=부산') 부산
          li
            a(href='/rooms?city=울산') 울산
          li
            a(href='/rooms?city=경남') 경남
          li
            a(href='/rooms?city=대구') 대구
          li
            a(href='/rooms?city=경북') 경북
          li
            a(href='/rooms?city=광주') 광주
          li
            a(href='/rooms?city=전남') 전남
          li
            a(href='/rooms?city=전북/전주') 전북/전주
          li
            a(href='/rooms?city=제주') 제주
            
    // Page Header
    .row
      .col-lg-12
        if(marker)
          h1.page-header
            | 숙소 목록
        else
          h1.page-header
            | 등록된 정보가 없습니다.
          //- small Secondary Text
    // /.row
    // Projects Row
    .row
      each room in rooms
        .col-md-4.portfolio-item
          a(href='/rooms/room?id=#{room._id}')
            img.img-responsive.thumbnail(src="/rooms/#{room._id}/img", alt=room.image.originalname )
          h3
            a(href='#') #{room.room_name}
            small &nbsp;&nbsp;#{room.city}
          p
            | #{room.room_intro}
    // /.row
    // Projects Row
          // Pagination
    // /.row
    hr
    
