extends ../layout
block header
  script.
    $('#mainNav').addClass('navbar-inverse');

  .container
    .row
  br
  br
  br
  br
  br
block content
  .container
    h1.page-header 숙소 예약 목록    
    a.btn.btn-success(href='/users/#{currentUser._id}/reservations') My Reservations

    .table-responsive
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th 숙소이름
            th 예약번호
            th 체크인
            th 체크아웃
            th 인원
            th 예약날짜
            th 예약승인
        tbody
          each reservation in reservations
            tr
              td= reservation.room_name
              td= reservation._id
              td= moment(reservation.checkIn).format('YYYY-MM-DD')
              td= moment(reservation.checkOut).format('YYYY-MM-DD')
              td= reservation.member
              td= moment(reservation.createdAt).format('YYYY-MM-DD HH:mm:ss')
              td
                if(reservation.isReserve==false || reservation.isReserve==null)
                  a#true.btn.btn-xs.btn-primary(href='/rooms/reservation/#{reservation._id}/true?_method=PUT') 승인
                | 
                if(reservation.isReserve==true || reservation.isReserve==null)

                  a.btn.btn-xs.btn-danger(href='/rooms/reservation/#{reservation._id}/false?_method=PUT') 거절
                
