extends layout

//- block hero-unit
//-     .jumbotron
block header
    header
        .container
            .intro-text
                .intro-lead-in Start a new trip with LunaBnB
                .intro-heading Welcome To 
                  span.brand_name LunaBnB!
                if(!currentUser)
                  a.signin-cd-popup-trigger.page-scroll.fadeandscale_open.btn-xl(href="#fadeandscale") Signin
                //- a.page-scroll.btn.btn-xl.portfolio-link(href='#signinModal', data-toggle='modal')
                //-  | Login

// Services Section
block services
    section#services 
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Services
            hr 
            br
        .row.text-center
          .col-md-4
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-plane.fa-stack-1x.fa-inverse
            h4.service-heading Tourist
            p.text-muted 
              | 루나비앤비와 함께 새로운 여행을 시작하세요
          .col-md-4
              span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-home.fa-stack-1x.fa-inverse
              h4.service-heading Host
              p.text-muted
                  | 루나비앤비의 호스트가 되어 사람들을 환영해주고 이들이 집처럼 편안함을 느낄 수 있도록 도와주세요.
          .col-md-4
              span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-mobile.fa-stack-1x.fa-inverse
              h4.service-heading Responsive Design
              p.text-muted
                  | 모바일 기기로도 쉽게 이용하세요.
    // place Grid Section
block place
  section#portfolio.bg-light-gray
      .container
          .row
              .col-lg-12.text-center
                  h2.section-heading 숙소
                  h3.section-subheading.text-muted 나에게 맞는 숙소를 찾아보세요
          .row
            each room in rooms
              .col-md-4.col-sm-6.portfolio-item
                  a.portfolio-link(href='##{room._id}', data-toggle='modal')
                      .portfolio-hover
                          .portfolio-hover-content
                            i.fa.fa-search-plus.fa-4x
                      img.img-responsive.thumbnail(src="/rooms/#{room._id}/img", alt=room.image.originalname)
                  .portfolio-caption
                      h4 #{room.room_name}
                      p.text-muted &#8361; #{room.fee}(1박)
                      p.text-muted #{room.city}
  each room in rooms
    .portfolio-modal.modal.fade(id='#{room._id}' tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.col-lg-offset-2
                .modal-body
                  // Project Details Go Here
                  h2 #{room.room_name}
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-responsive.img-centered(src="/rooms/#{room._id}/img", alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  p
                    strong Want these icons in this portfolio item sample?
                    | You can download 60 of them for free, courtesy of 
                    a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') RoundIcons.com
                    | , or you can purchase the 1500 icon set 
                    a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') here
                    | .
                  ul.list-inline
                    li Date: #{room.createdAt}
                    li Client: Round Icons
                    li Category: Graphic Design
                  button.btn.btn-primary(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Close Project

//- // About Section
//- section#about
//-     .container
//-         .row
//-             .col-lg-12.text-center
//-                 h2.section-heading About
//-                 h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
//-         .row
//-             .col-lg-12
//-                 ul.timeline
//-                     li
//-                         .timeline-image
//-                             img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
//-                         .timeline-panel
//-                             .timeline-heading
//-                                 h4 2009-2011
//-                                 h4.subheading Our Humble Beginnings
//-                             .timeline-body
//-                                 p.text-muted
//-                                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
//-                     li.timeline-inverted
//-                         .timeline-image
//-                             img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
//-                         .timeline-panel
//-                             .timeline-heading
//-                                 h4 March 2011
//-                                 h4.subheading An Agency is Born
//-                             .timeline-body
//-                                 p.text-muted
//-                                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
//-                     li
//-                         .timeline-image
//-                             img.img-circle.img-responsive(src='img/about/3.jpg', alt='')
//-                         .timeline-panel
//-                             .timeline-heading
//-                                 h4 December 2012
//-                                 h4.subheading Transition to Full Service
//-                             .timeline-body
//-                                 p.text-muted
//-                                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
//-                     li.timeline-inverted
//-                         .timeline-image
//-                             img.img-circle.img-responsive(src='img/about/4.jpg', alt='')
//-                         .timeline-panel
//-                             .timeline-heading
//-                                 h4 July 2014
//-                                 h4.subheading Phase Two Expansion
//-                             .timeline-body
//-                                 p.text-muted
//-                                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
//-                     li.timeline-inverted
//-                         .timeline-image
//-                             h4
//-                                 | Be Part
//-                                 br
//-                                 | Of Our
//-                                 br
//-                                 | Story!
//- // Team Section
//- section#team.bg-light-gray
//-     .container
//-         .row
//-             .col-lg-12.text-center
//-                 h2.section-heading Our Amazing Team
//-                 h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
//-         .row
//-             .col-sm-4
//-                 .team-member
//-                     img.img-responsive.img-circle(src='img/team/1.jpg', alt='')
//-                     h4 Kay Garland
//-                     p.text-muted Lead Designer
//-                     ul.list-inline.social-buttons
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-twitter
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-facebook
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-linkedin
//-             .col-sm-4
//-                 .team-member
//-                     img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
//-                     h4 Larry Parker
//-                     p.text-muted Lead Marketer
//-                     ul.list-inline.social-buttons
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-twitter
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-facebook
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-linkedin
//-             .col-sm-4
//-                 .team-member
//-                     img.img-responsive.img-circle(src='img/team/3.jpg', alt='')
//-                     h4 Diana Pertersen
//-                     p.text-muted Lead Developer
//-                     ul.list-inline.social-buttons
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-twitter
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-facebook
//-                         li
//-                             a(href='#')
//-                                 i.fa.fa-linkedin
//-         .row
//-             .col-lg-8.col-lg-offset-2.text-center
//-                 p.large.text-muted
//-                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
//- // Clients Aside
//- aside.clients
//-     .container
//-         .row
//-             .col-md-3.col-sm-6
//-                 a(href='#')
//-                     img.img-responsive.img-centered(src='img/logos/envato.jpg', alt='')
//-             .col-md-3.col-sm-6
//-                 a(href='#')
//-                     img.img-responsive.img-centered(src='img/logos/designmodo.jpg', alt='')
//-             .col-md-3.col-sm-6
//-                 a(href='#')
//-                     img.img-responsive.img-centered(src='img/logos/themeforest.jpg', alt='')
//-             .col-md-3.col-sm-6
//-                 a(href='#')
//-                     img.img-responsive.img-centered(src='img/logos/creative-market.jpg', alt='')
// Portfolio Modal 1
